package pages

templ Contact() {
	<html>
		<head>
			<title>Contact</title>
		</head>
		<body>
			<h1>Contact me</h1>
			<p>Send me an email at <a href="mailto:khongtrunght@gmail.com"></a></p>
		</body>
	</html>
}
