package pages

templ Faq(qs []Question) {
	<body>
		<h1>FAQ Page</h1>
		<ul>
			for _, q := range qs {
				@question(q)
			}
		</ul>
	</body>
}

templ question(q Question) {
	<li>
		<b>{ q.Question }</b> { q.Answer }
	</li>
}
