<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/styles.css">
</head>

<body class="min-h-screen bg-gray-100">
  <header class="bg-gradient-to-r from-blue-800 to-indigo-800 text-white">
    <nav class="px-8 py-6 p-4 flex items-center">
      <div class="text-4xl pr-12 font-serif">Lenslocked</div>
      <div class="">
        <a href="/" class="text-lg font-semibold hover:text-blue-100 pr-8">Home</a>
        <a href="/faq" class="text-lg font-semibold hover:text-blue-100 pr-8">FAQ</a>
        <a href=" /contact" class="text-lg font-semibold hover:text-blue-100 pr-8">Contact</a>
      </div>
      {{if currentUser}}
      <div class="flex-grow flex flex-row-reverse">
        <a href="/galleries" class="text-lg font-semibold hover:text-blue-100 pr-8">Galleries</a>
      </div>
      {{else}}
      <div class="flex-grow"></div>
      {{end}}
      <div>
        {{if currentUser}}
        <form action="/signout" method="post" class="inline pr-4">
          <div class="hidden">
            {{csrfField}}
          </div>
          <button type="submit">Sign out</button>
        </form>
        {{else}}
        <a href="/signin" class="pr-4">Sign in</a>
        <a href="/signup" class="px-4 py-2 bg-blue-700 hover:bg-blue-600 rounded">Sign up</a>
        {{end}}
      </div>
    </nav>
  </header>
  <!-- Alerts -->
  {{if errors}}
  <div class="py-4 px-2">
    {{ range errors }}
    <div class="closeable flex bg-red-100 rounded px-2 py-2 text-red-800 mb-2">
      <div class="flex-grow">
        {{.}}
      </div>
      <a href="#" onclick="closeAlert(event)">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
        </svg>
      </a>
    </div>
    {{end}}

  </div>
  {{end}}
  {{template "page" .}}

  <script>
    function closeAlert(event) {
      let closeable = event.target.closest('.closeable');
      // closeable.remove();
      closeable.classList.add('hidden');
    }
  </script>
</body>

</html>
