package components

templ CSS() {
<!-- <link rel="stylesheet" href={ helpers.File("svelte_bundle.css") } /> -->
<!-- <link rel="stylesheet" href={ helpers.File("styles_bundle.css") } /> -->
<!-- <link rel="manifest" crossorigin="use-credentials" href={ helpers.File("manifest.json") } /> -->
// Defer loading swiper styles (see https://www.giftofspeed.com/defer-loading-css/)
// NOTE: removing `rel="preload"` for swiperjs below will break it (done it once before)
<link rel="preload" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" as="style"
    onload="this.onload=null;this.rel='stylesheet'" />
<noscript>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</noscript>
// Defer loading tippy styles
<link rel="preload" href="https://unpkg.com/tippy.js@6/dist/tippy.css" as="style"
    onload="this.onload=null;this.rel='stylesheet'" />
<noscript>
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/dist/tippy.css" />
</noscript>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/driver.js@1.0.1/dist/driver.css" />
// Below is for making ios status bar translucent:
<!-- https://blog.alexwendland.com/2020-09-25-translucent-status-bar-in-pwas-on-ios/ -->
<style>
    body {
        background-color: transparent;
    }

    :root {
        --safe-area-top: env(safe-area-inset-top);
        --safe-area-left: env(safe-area-inset-left);
    }

    #navbar {
        padding-top: env(safe-area-inset-top);
        // padding-left: env(safe-area-inset-left);
        padding-right: 0;
        /* Adjust as needed */
        padding-bottom: 0;
        /* Adjust as needed */
    }
</style>
}

templ JS() {
// START PWA splash screen (TODO: not working lol)
<script src="https://cdn.jsdelivr.net/npm/ios-pwa-splash@1.0.0/cdn.min.js"></script>
// https://cdn.jsdelivr.net/npm/sweetalert2@11 is somehow not working (buttons not showing), so reverting to 2@10
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://unpkg.com/htmx.org@1.9.10"
    integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
    crossorigin="anonymous"></script>
<script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/sse.js"></script>
<script defer async src="https://cdn.jsdelivr.net/npm/@alpinejs/mask@3.x.x/dist/cdn.min.js"></script>
<script defer async src="https://cdn.jsdelivr.net/npm/@ryangjchandler/alpine-clipboard@2.x.x/dist/alpine-clipboard.js"
    defer></script>
<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
<script defer async src="https://cdn.jsdelivr.net/npm/@marcreichel/alpine-timeago@latest/dist/alpine-timeago.min.js"
    defer></script>
<script defer async src="https://cdn.jsdelivr.net/npm/@ryangjchandler/alpine-tooltip@1.x.x/dist/cdn.min.js"
    defer></script>
<script defer async src="https://cdn.jsdelivr.net/npm/@alpinejs/morph@3.x.x/dist/cdn.min.js"></script>
<script defer async src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
<script defer async src="https://unpkg.com/hyperscript.org@0.9.12"></script>
<script defer async src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script defer async src="https://js.stripe.com/v3/"></script>
// TODO: remove HTMX debug extension for prod
//
<script src="https://unpkg.com/htmx.org/dist/ext/debug.js"></script>
<script defer async src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/datepicker.min.js"></script>
// Calheatmap deps, note that the same ones are imported in cal_heatmap.js in static
<script defer async src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
<script defer async src="https://d3js.org/d3.v7.min.js"></script>
<script defer async src="https://unpkg.com/cal-heatmap/dist/cal-heatmap.min.js"></script>
<script defer async src="https://unpkg.com/cal-heatmap/dist/plugins/Legend.min.js"></script>
<script defer async src="https://unpkg.com/cal-heatmap/dist/plugins/Tooltip.min.js"></script>
<script defer async src="https://unpkg.com/cal-heatmap/dist/plugins/CalendarLabel.min.js"></script>
<script defer async src="https://unpkg.com/@popperjs/core@2"></script>
// Cannot defer driver.js
<script src="https://cdn.jsdelivr.net/npm/driver.js@1.0.1/dist/driver.js.iife.js"></script>
// above are Calheatmap deps
//
}
